@model IEnumerable<MvcAppli1_V4.Models.Department>
@using MvcAppli1_V4.Models;

<div style="font-family:Arial"
@{
    ViewBag.Title = "Department List";
}

<h2>Department List</h2>
<ul>
    @foreach(Department department in @Model)
    {
        <li>@Html.ActionLink(department.Name,"Index","Employee",new {departmentId=department.ID},null)</li>
    }
</ul>

</div>